$fontSize:14px;
$fontSize-l:16px;
html,body{
    font-family: '微軟正黑體', 'Microsoft JhengHei', 'Segoe UI Semibold', 'Segoe UI', 'Lucida Grande'!important;
    height: 100%;
    margin:0;
    padding:0;
    max-width: 100%;
    scroll-behavior: smooth;
}
.wrapper{
    min-height: calc(100vh - 120px);
}
.container{
    padding-bottom:100px;
}
.routerActive{
    color:#ff570b;
}
.logoImg{
    height: 60px;
}
.icon{
    font-size: $fontSize;
}
.homeFont{
    font-size: $fontSize;
}
.favoriteList{
    position: relative;
}
.favLength{
    width: 21px;
    height: 21px;
    position: absolute;
    top:-5px;
    right:-12px;
    background: $midnightGreen;
    color:$white;
    border:1px solid $midnightGreen;
    border-radius: 15px;
    z-index: 999;
}
.hd{
    background-repeat: no-repeat;
    background-size: contain;
}
.hdimg{
    max-height: 600px;
}
.box-shadow{
    transition: box-shadow .3s;
}
.box-shadow:hover{
    box-shadow: 0 4px 10px rgba(0, 0, 0, .24);
}
.card-text{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}
.card-img{
    height: 180px;
}
.option-font{
    color:$midnightGreen;
}
.active{
    color: $white;
}
.priceLine{
    text-decoration: line-through;
}
.keyboardCard{
    animation: fadeIn 1s;
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.dropup .dropdown-toggle::after {
    display: none !important;
}
.btn-style{
    position: relative;
    border-radius: 99em !important;
    width: 60px;
    height: 60px;
    background-color: $white !important;
}
.quantity{
    position: absolute;
    height: $fontSize*1.5;
    width: $fontSize*1.5;
    background-color: $midnightGreen;
    color:$white;
    right:-1px;
    top:-1px;
    border-radius: 99em;
    .qtext{
        height: $fontSize*1.5;
        width: $fontSize*1.5;
    }
}
.fa-shopping-basket{
    color:$midnightGreen;
    font-size: $fontSize *1.5;
}
.cartstyle{
    min-width:370px;
    max-height:30vh;
    overflow-y: auto;
}
.liked{
    position: absolute;
    top:3%;
    right:2%;
    font-size: $fontSize-l;
    text-decoration: none !important;
}
.favFont{
    margin-top:-3px;
    font-size:$fontSize;
}
.fa-heart::before{
    font-size:28px;
}
// .favIcon i,.favIcon button{
//     color:$red;
// }
.drop-item-f{
    width: 250px;
}
.dropleft .dropdown-toggle::before{
    display: none !important;
}

.shopList{
    margin-left:-$fontSize-l * 5;
}
.dropdown-toggle::after{
    display: none !important;
}
.orderCart{
    min-width:420px;
}
.orderCoupon{
    min-width:420px;
    height: 35px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
    transition: box-shadow .3s;
}
.incoupon{
    height: 35px !important;
}
.orderCoupon:hover{
    box-shadow: 3px 3px 13px rgba(0, 0, 0, .20);
}
.cartIcon{
    position:fixed !important;
    cursor: pointer;
    padding: 0;
	margin: 0;
	border: 0;
    left:1rem;
    bottom:1rem;
    margin-left: 20px;
    display: none;
    z-index: 9999;
}
.cartIcon::before,.cartIcon::after{
    position: absolute;
	content: "";
}
